<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>AvadaSEO</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/43febffcb7.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="root">
                              <!-- header -->
      <div  class="header-container">
        <div class="wrapper">
          <header>
            <div class="header-left">
              <img src="images/logo_seo_w_1x.png" alt="">
            </div>
            <div class="header-right">
              <ul class="menu">
                <li v-for="option in menuOptions" :key="'menu-item-' + option.label.replace(/\s/ig, '-')">
                  <a id="option" :href="option.url" v-if="option.type == 'LINK'">{{option.label}}</a>
                  <button  class="orange-button" type="button" name="button" v-else-if="option.type == 'BUTTON'">Get In Touch Now</button>
                </li>
              </ul>
            </div>
          </header>
                              <!-- jumbo -->
          <div class="main-jumbo">
            <div class="main-jumbo-call">
              <h2>SEM Campaigns Made Simple With Avada</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <p>Ut enim ad minim veniam.</p>
              <div class="button-container">
                <button class="orange-button" type="button" name="button">Get In Touch Now</button>
                <button id="blue-button" type="button" name="button">Get In Touch Now</button>

              </div>
            </div>
          </div>

        </div>

      </div>
                              <!-- section new template -->
      <div class="section-new-template">
        <div class="wrapper">
          <div class="section-new-template-top">
            <h2>Meet The New Agency SEO Template From The Avada Team</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

          </div>
          <div class="section-new-template-bot">
            <div class="template-card">
              <i class="fas fa-road"></i>
              <h3>Establish Goals</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            </div>
            <div class="template-card">
              <i class="fas fa-video"></i>
              <h3>Word With A Team</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="template-card">
              <i class="fas fa-tint"></i>
              <h3>Get Results</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            </div>

          </div>
          <div class="section-new-template-img">
            <img src="images/agency-seo-desk-front-1200x570.jpg" alt="">
          </div>

        </div>
      </div>
                              <!-- section services -->
      <div class="section-services">
        <div class="wrapper">
          <div class="section-services-top">
            <h2>See Our Top Notch Services</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>

          </div>
          <div class="section-services-bot">
            <div class="services-card">
              <i class="fab fa-google"></i>
              <h3>Google SEO</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p class="card-link">
                <a href="#">Read More <i class="fas fa-chevron-right"></i></a>
              </p>
            </div>
            <div class="services-card">
              <i class="fas fa-cog"></i>
              <h3>Brand Strategy</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p class="card-link">
                <a href="#">Read More <i class="fas fa-chevron-right"></i></a>
              </p>
            </div>
            <div class="services-card">
              <i class="fas fa-building"></i>
              <h3>Local SEO</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p class="card-link">
                <a href="#">Read More <i class="fas fa-chevron-right"></i></a>
              </p>
            </div>
            <div class="services-card">
              <i class="far fa-chart-bar"></i>
              <h3>SEO Analysis


              </h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p class="card-link">
                <a href="#">Read More <i class="fas fa-chevron-right"></i></a>
              </p>
            </div>
          </div>

        </div>
      </div>
                              <!-- our work -->
      <div class="section-our-work">
        <div class="wrapper">
          <div class="our-work-top">
            <h2>Our Work</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>

          </div>
          <div class="our-work-mid">
            <div class="our-work-img">
              <i class="fas fa-link"></i>
              <img src="images/case-study-gallery-3-1-600x450.jpg" alt="">
            </div>
            <div class="our-work-img">
              <i class="fas fa-link"></i>
              <img src="images/case-study-gallery-2-600x450.jpg" alt="">
            </div>
            <div class="our-work-img">
              <i class="fas fa-link"></i>
              <img src="images/case-study-gallery-1-1-600x450.jpg" alt="">
            </div>
            <div class="our-work-img">
              <i class="fas fa-link"></i>
              <img src="images/case-study-gallery-4-1-600x450.jpg" alt="">
            </div>
            <div class="our-work-img">
              <i class="fas fa-link"></i>
              <img src="images/case-study-gallery-5-1-600x450.jpg" alt="">
            </div>
            <div class="our-work-img">
              <i class="fas fa-link"></i>
              <img src="images/case-study-gallery-6-1-600x450.jpg" alt="">
            </div>
          </div>
          <div class="our-work-bot">
            <button class="orange-button" type="button" name="button">VIEW OUR WORK</button>
          </div>
        </div>
      </div>
                              <!-- our plans -->
      <div class="section-our-plans">
        <div class="wrapper">
          <div class="our-plans-top">
            <h2>Our Plans</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>

          </div>
          <div class="our-plans-bot">
            <div class="our-plans-card">
              <h3>Standard</h3>
              <p class="cost">
                <span class="currency">$</span>
                <span>19</span>
                <span class="rest">99</span>
                <span class="subs">monthly</span>
              </p>
              <p>5 projects</p>
              <p>5 GB Storage</p>
              <p>Unlimited Users</p>
              <button class="trans-button" type="button" name="button">Start Today</button>

            </div>
            <div class="our-plans-card">
              <h3>Premium</h3>
              <p class="cost">
                <span class="currency">$</span>
                <span>29</span>
                <span class="rest">99</span>
                <span class="subs">monthly</span>
              </p>
              <p>10 projects</p>
              <p>15 GB Storage</p>
              <p>Unlimited Users</p>
              <button class="trans-button" type="button" name="button">Start Today</button>

            </div>
            <div class="our-plans-card">
              <h3>Professional</h3>
              <p class="cost">
                <span class="currency">$</span>
                <span>39</span>
                <span class="rest">99</span>
                <span class="subs">monthly</span>
              </p>
              <p>15 projects</p>
              <p>30 GB Storage</p>
              <p>Unlimited Users</p>
              <button class="orange-button" type="button" name="button">Start Today</button>

            </div>
            <div class="our-plans-card">
              <h3>Extreme</h3>
              <p class="cost">
                <span class="currency">$</span>
                <span>59</span>
                <span class="rest">99</span>
                <span class="subs">monthly</span>
              </p>
              <p>Unlimited projects</p>
              <p>Unlimited Storage</p>
              <p>Unlimited Users</p>
              <button class="trans-button" type="button" name="button">Start Today</button>

            </div>

        </div>
        </div>
      </div>
                              <!-- our news -->
      <div class="section-our-news">
        <div class="wrapper">
          <div class="our-news-top">
            <h2>Our News</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>

          </div>
          <div class="our-news-bot">
            <div class="our-news-card">
              <div class="our-news-card-img">
                <img src="images/related-service-2-700x441.jpg" alt="">
              </div>
              <h3>Why You Need A SEO Agency Now</h3>
              <small>November 1st, 2017</small>
              <p>ALorem ipsum dolor sit amet, consectetur adipiscing elit. In et scelerisque sem. Nunc molestie neque augue, at gravida mi blandit</p>
            </div>
            <div class="our-news-card">
              <div class="our-news-card-img">
                <img src="images/related-service-4-700x441.jpg" alt="">
              </div>
              <h3>SEO Tips For Your Startup</h3>
              <small>November 1st, 2017</small>
              <p>ALorem ipsum dolor sit amet, consectetur adipiscing elit. In et scelerisque sem. Nunc molestie neque augue, at gravida mi blandit</p>
            </div>
            <div class="our-news-card">
              <div class="our-news-card-img">
                <img src="images/blog-post-6-700x441.jpg" alt="">
              </div>
              <h3>Image Optimization For Your Site</h3>
              <small>November 1st, 2017</small>
              <p>ALorem ipsum dolor sit amet, consectetur adipiscing elit. In et scelerisque sem. Nunc molestie neque augue, at gravida mi blandit</p>
            </div>

          </div>
          <div class="our-news-footer">
            <button class="orange-button" type="button" name="button">Go To News</button>
          </div>
        </div>
      </div>
                              <!-- section feedback -->
      <div class="section-feedback">
        <div class="wrapper">
          <div class="feedback-top">
            <h2>Our Clients Say</h2>
            <div class="testimonials">
              <img src="images/testimonials-2.jpg" alt="">

            </div>
            <p>Ability proceeds from a fusion of skills, knowledge, understanding and imagination, consolidated by experience.</p>
            <p><strong>Luis Desalvo</strong>, CREO TECH</p>
            <div id="dots">
              <i class="fas fa-circle"></i>
              <i class="far fa-circle"></i>
            </div>
          </div>
          <div class="feedback-bot">
            <div class="feedback-logo">
              <img src="images/clients_partner_1-200x202.png" alt="">
            </div>
            <div class="feedback-logo">
              <img src="images/clients_partner_2-200x202.png" alt="">
            </div>
            <div class="feedback-logo">
              <img src="images/clients_partner_3-200x202.png" alt="">
            </div>
            <div class="feedback-logo">
              <img src="images/clients_partner_4-200x202.png" alt="">
            </div>
          </div>
        </div>
      </div>
                              <!-- section consulatation -->
      <div class="section-consultation">
        <div class="wrapper">
          <div class="section-consultation-infos">
            <h2>Start Your Free Consultation</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
            <button class="orange-button" type="button" name="button">CONTACT US NOW</button>

          </div>
        </div>
      </div>
                              <!-- footer -->
      <footer>
        <div class="footer-top">
          <img src="images/logo_seo_1x.png" alt="">
        </div>
        <div class="footer-mid">
          <ul>
            <li v-for="option in menuOptions" :key="'menu-item-' + option.label.replace(/\s/ig, '-')">
              <a :href="option.url">{{option.label}}</a>
            </li>
            <!-- <li>
              <a class="home" href="#">Home</a>
            </li>
            <li>
              <a href="#">Who We Are</a>
            </li>
            <li>
              <a href="#">What We Do</a>
            </li>
            <li>
              <a href="#">Where We Work</a>
            </li>
            <li>
              <a href="#">Careers</a>
            </li>
            <li>
              <a href="#">News</a>
            </li>
            <li>
              <a href="#">Get In Touch Now</a>
            </li> -->
          </ul>
        </div>
        <div class="footer-bot">
          <ul>
            <li>
              <small>© Copyright 2012 - 2020</small>
            </li>
            <li>
              <small>Avada Theme by ThemeFusion</small>
            </li>
            <li>
              <small>All Rights Reserved</small>
            </li>
            <li>
              <small>Powered by WordPress</small>
            </li>
          </ul>
        </div>
        <div class="logos">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-youtube"></i>
        </div>
      </footer>
    </div>
    <script src="main.js" charset="utf-8"></script>
  </body>
</html>
