*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.wrapper{
  max-width: 1200px;
  height: 100%;
  margin: auto;
  border: 1px solid black
}
                        /* header */
.header-container{
  height: 800px;
  background-image: url(images/hero-image.png);
  background-size: cover;
  background-position: center;
}

header{
  width: 100%;
  height: 75px;
  display: flex;
}

.header-left{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  /* background-color: blueviolet; */
}

.header-right{
  width: 70%;
  height: 100%;
  /* background-color: cadetblue; */
}


.menu{
  height: 100%;
  color: white;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: flex-end;
}

.menu li{
  margin: 0 20px;
  font-size: 16px;
}

.orange-button{
  padding: 15px;
  border-radius: 25px;
  border: 0;
  background-color: #ffa837;
  color: white;
}
                            /* jumbo */
.main-jumbo{
  width: 100%;
  height: 700px;
  /* background-color: aquamarine; */
}

.main-jumbo-call{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.main-jumbo-call h2{
  margin-bottom: 20px;
  font-size: 50px;
}

.main-jumbo-call p{
  margin-bottom: 20px;
  font-size: 20px;
}

.button-container{
  display: flex;
}

#blue-button{
  padding: 15px;
  border-radius: 25px;
  margin-left: 10px;
  border: 0;
  background-color: rgb(85, 110, 237);
  color: white;
}
                              /* section-new-template */
.section-new-template{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F7F8F9;
}

.section-new-template-top{
  padding: 50px 280px;
  text-align: center;
}

.section-new-template-top h2{
  margin-bottom: 20px;
  font-size: 35px;
}

.section-new-template-top p{
  font-size: 20px
}

.section-new-template-bot{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.template-card{
  height: 300px;
  width: 350px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.template-card h3{
  font-size: 22px;
  margin-bottom: 10px;
}

.template-card i{
  margin-bottom: 30px;
  font-size: 35px;
  color: #ffa837
}

.template-card p{
  line-height: 25px
}

.section-new-template-img{
  width: 100%;
}

.section-new-template-img img{
  width: 100%;
  height: 100%;
}
                    /* section services */
.section-services{
  color: white;
  background-color: #051745;
  background-image: url(images/pattern_background.png);
}

.section-services-top{
  padding: 70px;
  text-align: center;
}

.section-services-top h2{
  margin-bottom: 20px;
  font-size: 35px;
}

.section-services-top p{
  padding: 0px 200px;
  font-size: 20px;
}

.section-services-bot::after{
  content: '';
  display: table;
  clear: both;
}

.services-card{
  height: 400px;
  width: calc(100% / 4 - 20px);
  margin: 10px;
  margin-bottom: 150px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  float: left;
  background-color: #1a236c;
  text-align: center;
}

.services-card i{
  margin-bottom: 30px;
  font-size: 35px;
  color: #ffa837
}

.services-card h3{
  font-size: 22px;
  margin-bottom: 10px;
}

.services-card p{
  line-height: 2;
}

.card-link{
  margin-top: 20px;

}

.card-link a{
  text-decoration: none;
  color: #ffa837
}

.card-link i{
  font-size: 12px;
}

.our-work-top{
  text-align: center;
  padding: 70px 100px;
}

.our-work-top h2{
  margin-bottom: 20px;
  font-size: 35px;
}

.our-work-top p{
  padding: 0px 200px;
  font-size: 20px;
}

.our-work-mid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.our-work-img{
  height: 280px;
  width: 360px;
  margin-top: 45px;
  background-color: aquamarine;
}

.our-work-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.our-work-bot{
  text-align: center;
  padding: 50px 0;
}
