*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper{
  max-width: 1170px;
  height: 100vh;
  margin: auto;
  border: 1px solid black
}
                        /* header */
.header-container{
  height: 800px;
  background-image: url(images/hero-image.png);
  background-size: cover;
  background-position: center;
}

header{
  width: 100%;
  height: 75px;
  display: flex;
}

.header-left{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  /* background-color: blueviolet; */
}

.header-right{
  width: 70%;
  height: 100%;
  /* background-color: cadetblue; */
}

.menu{
  height: 100%;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: flex-end;
}

.menu li{
  margin: 0 20px;
  font-size: 17px;
}
                            /* jumbo */
.main-jumbo{
  width: 100%;
  height: 700px;
  /* background-color: aquamarine; */
}

.main-jumbo-call{
  width: 50%;
  height: 100%;
  /* background-color: crimson; */
}
                              /* section-new-template */
.section-new-template{
  width: 100%;
  height: 1300px;
  /* background-color: coral; */
}
